<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <%= stylesheet_link_tag "theme" %>
  </head>
  <body>
    
    <div class="canvas">
      <header class="page-header">
        <div class="header-inner">
          <div class="logo"><%= link_to 'New CMS Quarterly', '/' %></div>
          <p>Sitecore and CMS development, Geoffrey Smith</p>
        </div>
      </header>

      <nav>
        <ul>
          <li><%= link_to 'About', '/about.html' %></li>
          <li><%= link_to 'GitHub', 'http://www.github.com/geoffreysmith', :class => 'brandico-github' %></li>
        </ul>
      </nav>
      
      <div id="main" role="main">
        <%= yield %>
      </div>
    </div>
    
  </body>
</html>
